<!DOCTYPE html>
<html>
  <head>
    <title>Timetracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>


  <body>

    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, id: "flash_#{key}" %>
    <% end %>

    <%= yield %>
  </body>
</html>
